.user_container{
    width: 85%;
    max-width: 1280px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media(max-width : 1010px) {
        width: 95%;
    }

    @media(max-width : 822px) {
        flex-direction: column;
        width: 65%;
    }

    @media(max-width : 654px) {
        flex-direction: column;
        width: 95%;
    }

    .left, .right{
        flex: 1;
    }
    
    .center{
        flex: 2.4;

        .posts{
            margin-top: 0.5rem;
            @media(max-width:700px) {
                    margin-bottom: 0;
                }
        }
    }
}