.comments{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .comment{
        background-color: rgb(234, 234, 234);
        border-radius: 5px;
        padding: 0.7rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        img{
            width: 3rem;
        }

        .comment_body{
            h1{
                font-size: 0.9rem;
                font-weight: 500;
                color: rgb(47, 47, 47);
                padding-bottom: 0.8rem;

                span{
                    margin: 0 0.5rem;
                    color: rgb(104, 104, 104);
                    font-size: 0.7rem;
                }
            }

            p{
                font-size: 0.8rem;
                color: rgb(87, 87, 87);
            }
        }

        .reactions{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 0.7rem;

            .like{
                display: flex;
                align-items: center;
                gap: 0.2rem;
                font-size: 0.8rem;

                .icon{
                    font-size: 1rem;
                    cursor: pointer;
                }
            }

            .reply{
                font-size: 0.8rem;
                color: rgb(9,9,139);
                cursor: pointer;

                &:hover{
                    opacity: 0.7;
                }
            }

            button{
                border: none;
                background-color: transparent;
                color: rgb(9,9,139);
                cursor: pointer;
                padding: 0.2rem 0 0 0.3rem;
                font-size: 0.8rem;

                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}