@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  width: 100%;
  background-color: rgb(235, 238, 240);
  height: 100%;
  overflow-x: hidden;
}

.orang{
  color: rgb(236, 151, 52);
}
